# Backend API base URL
VITE_API_BASE_URL=http://54.188.108.28

# Google OAuth Client ID for Google Sign-In
VITE_GOOGLE_CLIENT_ID=95599438061-mrd1t6c3havsfjrej19kmuqmbd5vhto5.apps.googleusercontent.com

# Google reCAPTCHA Site Key for frontend validation
VITE_RECAPTCHA_SITE_KEY= 6LdIBOYsAAAAAN_9QolnI6KEqLk3HhPH1FBlw89b